.write-container {
    font-family: 'Pretendard Variable';
    padding: 0px 350px;
}

.write-title {
    font-size: 1.2rem;
    font-weight: 500;
    color: #1C1E1F;
    padding: 20px 0 30px 0;
}

.write-button-wrap {
    display: flex;
    justify-content: flex-end;
    margin-top: clamp(10px, 2.5vw, 20px);
}

.boardBtn {
    width: clamp(70px, 10vw, 80px);
    height: clamp(35px, 5vw, 40px);
    background-color: #fff;
    color: black;
    font-size: clamp(14px, 1.8vw, 16px);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}