/* 전체 레이아웃 */
.mypage-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 50px 150px 0px 150px;
    gap: 50px;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30;
        text-align: center;
    }
    .side-btn {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}


.mypage-title {
    font-size: 32px;
    font-weight: 700;
    color: #2b2b2b;
    margin-bottom: 30px;
}

.mypage-content-box {
    display: flex;
    gap: 20px;
}
.sidebar-box {
    flex: 1;
}
.mypage-outlet-box {
    flex: 5;
}

.side-btn {
    width: 100%;
    padding: clamp(15px, 2.5vw, 20px);
    margin-bottom: clamp(10px, 2vw, 20px);
    background-color: #e5e5e5;
    border: none;
    font-size: clamp(16px, 2vw, 20px);
    font-weight: bolder;
    text-align: left;
    cursor: pointer;
}

