.auth-button-box {
    position: relative;
    height: 50px;
}
.auth-button {
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0px 0px 10px #d2cfe0;
    z-index: 200;
}
.auth-form-box {
    position: relative;
}
.close-auth-button {
    position: absolute;
    right: 0px;
    cursor: pointer;
    background-color: #424650;
    border: none;
    border-radius: 4px;
    padding: 4px 15px;
}
.login-form, .login-form-box {
    display: flex;
}
.login-form-box {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.login-form input{
    padding: 5px;
}