header {
    background-color: rgb(255, 170, 170);
    height: 70px;
}
header>.header-box {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    margin: 0px 150px;
}
header .nav-list {
    display: flex;
    justify-self: center;
    gap: 120px;
    
}
header .logo-box img {
    height: 70px;
}