.comment-form-container {
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 20px 0;
}

.comment-input {
    width: 100%;
    padding: 20px;
    border-radius: 4px;
    box-sizing: border-box;
    border: none;
    font-size: 16px;
    border-left: 4px solid #8a8e9e;
    outline: none;
}

.comment-input::placeholder {
    color: #aaa;
}